*{
    margin: 0;
    padding: 0;
}

.navigation{
    background-color: #800020!important;
    color: white;
    height: 50px;
}
.navigation > a > i{
    margin-left: 5px;
    margin-top: 10px;
}

nav .brand-logo {
    left: 5%;
    margin: 0.5em 0 0 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.logo{
    border-radius: 50%;
    width: 60px;
    height: 60px;}

.list-1 {

    margin: 40px 0 0 80px;   }
.centre{
    text-align: center;}

.list-2{
    margin: 0 0 0 40px; }

