<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../assets/CheckEmail/CheckEmail.css" rel="stylesheet" type="text/css">
    <title>Document</title>


</head>

<body>
    <div class="container">
        <div class="text">
            <h2>Your confirmation token has been sent via your email address</h2>
            <h4>//count down timer</h4>
        </div>
    </div>
</body>

</html>