<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link
      rel="stylesheet"
      href="../assets/materialize/css/materialize.min.css"
    />
    <link rel="stylesheet" href="../assets/materialize/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="../assets/dashboard/css/style.css" />
  </head>

  <body>
  <div style="">
    <div class="input-field search">
      <input id="search" type="search" required>
      <label for="search"><i class="material-icons">search</i></label>
    </div>
  </div>
    <div class="row" id="app">
      <!--dashboard-->
      <div class="dashboard_container col s12 l12">
        <div class="row" id="dashboard">
          <div class="con col m4 l2">
            <div class="card">
              <div class="card-image">
                <img
                  height="200px"
                  src="https://images.freeimages.com/images/large-previews/807/natal-sofia-1-1431304.jpg"
                />
                
              </div>
              <div class="card-content">
                  <p><b><span class="uname">Eyosi</span>, <span class="age">12</span></b></p>
                <p><span class="city">Addis Ababa</span>, <span class="country">Ethiopia</span> </p>
                <div class="progress" style="color: red">
                  <div class="determinate" style="width: 75%"></div>
                </div>
              </div>
              <div class="card-action">
               <!-- <a class="on firstLink bothLink"></a>-->
                <a class="secondLink bothLink"></a>
              </div>
            </div>
          </div>
          <div class="col m4 l2">
            <div class="card">
              <div class="card-image">
                <img
                  height="200px"
                  src="https://cdn.pixabay.com/photo/2019/10/30/07/04/paint-4588860_960_720.png"
                />
              </div>
              <div class="card-content">
                  <p><b><span class="uname">Charlie</span>, <span class="age">12</span></b></p>
                  <p><span class="city">Addis Ababa</span>, <span class="country">Ethiopia</span> </p>
                <div class="progress">
                  <div class="determinate" style="width: 34%"></div>

                </div>

              </div>
              <div class="card-action">
<!--                <a class="on firstLink bothLink"></a>-->
                <a class="secondLink bothLink"></a>

              </div>

            </div>
          </div>

          <div class="col m4 l2">
              <div class="card">
                <div class="card-image">
                  <img
                    height="200px"
                    src="https://cdn.pixabay.com/photo/2019/10/30/07/04/paint-4588860_960_720.png"
                  />
                </div>
                <div class="card-content">
                  <p><b><span class="uname">Charlie</span>, <span class="age">12</span></b></p>
                  <p><span class="city">Addis Ababa</span>, <span class="country">Ethiopia</span> </p>
                  <div class="progress">
                    <div class="determinate" style="width: 80%"></div>
                  </div>
                </div>
                <div class="card-action">
                  <!--<a class="on firstLink bothLink"></a>-->
                  <a class="secondLink bothLink"></a>
                </div>
              </div>
            </div>
            <div class="col m4 l2">
                <div class="card">
                  <div class="card-image">
                    <img
                      height="200px"
                      src="https://cdn.pixabay.com/photo/2019/10/30/07/04/paint-4588860_960_720.png"
                    />
                  </div>
                  <div class="card-content">
                      <p><b><span class="uname">Charlie</span>, <span class="age">12</span></b></p>
                      <p><span class="city">Addis Ababa</span>, <span class="country">USA</span> </p>
                    <div class="progress">
                      <div class="determinate" style="width: 70%"></div>
                    </div>
                  </div>
                  <div class="card-action">
                 <!--   <a class="firstLink bothLink"></a>-->
                    <a class="secondLink bothLink"></a>
                  </div>
                </div>
              </div>

              <div class="col m4 l2">
                  <div class="card">
                    <div class="card-image">
                      <img
                        height="200px"
                        src="https://cdn.pixabay.com/photo/2019/10/30/07/04/paint-4588860_960_720.png"
                      />
                    </div>
                    <div class="card-content">
                        <p><b><span class="uname">Charlie</span>, <span class="age">12</span></b></p>
                        <p><span class="city">Addis Ababa</span>, <span class="country">Ethiopia</span> </p>
                      <div class="progress">
                        <div class="determinate" style="width: 99%"></div>
                      </div>
                    </div>
                    <div class="card-action">
                    <!--  <a class="on firstLink bothLink"></a>-->
                      <a class="secondLink bothLink"></a>
                    </div>
                  </div>
                </div>
                <div class="col m4 l2">
                    <div class="card">
                      <div class="card-image">
                        <img
                          height="200px"
                          src="https://cdn.pixabay.com/photo/2019/10/30/07/04/paint-4588860_960_720.png"
                        />
                      </div>
                      <div class="card-content">
                          <p><b><span class="uname">Charlie</span>, <span class="age">12</span></b></p>
                          <p><span class="city">Addis Ababa</span>, <span class="country">Ethiopia</span> </p>
                        <div class="progress">
                          <div class="determinate" style="width: 10%"></div>
                        </div>
                      </div>
                      <div class="card-action">
                      <!--  <a class="on firstLink bothLink"></a>-->
                        <a class="secondLink bothLink"></a>
                      </div>
                    </div>
                  </div>
        </div>
      </div>
    </div>
    <script src="../assets/materialize/jquery-3.4.1.js"></script>
    <script src="../assets/materialize/js/materialize.min.js"></script>
    <script src="../assets/dashboard/homepagejs/DivCard.js"></script>
    <script>
      //wleU3qFilApndDvilF0b
      $(function() {
        $("select").formSelect();
        M.updateTextFields();

        //declaring variables
        let selectedValue;
        let input;

        $("select").on("change", function() {
          selectedValue = $(this).val();
          switch (selectedValue){
            case "1":
               document.getElementById("first_name").setAttribute("placeholder","User Name");               
               break;
              case "2":
               document.getElementById("first_name").setAttribute("placeholder","Country Name");
                break;
          }
          if (input != null) {
            search(selectedValue, input);
          }
        });

        $("#first_name").on("input", function(e) {
          input = e.target.value.toLowerCase();
          search(selectedValue, input);
        });
      });
    </script>
  </body>
</html>
