<!DOCTYPE html>
<html lang="en">

<head>
    <title>Notification</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../assets/Nav_temp/navcss.css" type="text/css" rel="stylesheet">
    <link href="../assets/materialize/css/materialize.css" type="text/css" rel="stylesheet">
    <link href="../assets/notification/css/notificationPage.css" type="text/css" rel="stylesheet">

    <link rel="stylesheet" href="../assets/materialize/css/materialize.min.css"/>
    <link rel="stylesheet" href="../assets/materialize/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../assets/materialize/iconfont/material-icons.css">
    <link rel="stylesheet" href="../assets/Header/css/header_style.css">

</head>
{{ template "navbar" .Header}}
    <div class="Tcontainer">
        <div class="container">
            {{range .NotificationData}}
            <div id="{{.SenderName}}">
                <li class="divider" tabindex="-1"></li>
                <li>
                    <a>
                        <div class="row s2 valign-wrapper">
                            <div class="col s2">
                                <img class="circle responsive-img" src="{{.ProfilePicturePath}}">
                            </div>
                            <div class="col s12">
                                <h5>{{.SenderName}}</h5>
                                <p class="messagehighlight black-text">{{.SenderName}} has sent you request.</p><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s2">
                                <form action="/accept">
                                    <input class="notificationField" type="text" name="sender_name"
                                        value="{{.SenderName}}" />
                                    <button class="waves-effect waves-light btn  accept">Accept</button>
                                </form>
                            </div>
                            <div class="col s2">
                                <form action="/reject">
                                    <input class="notificationField" type="text" name="sender_name"
                                        value="{{.SenderName}}" />
                                    <button class="waves-effect waves-light btn reject">Reject</button>
                                </form>
                            </div>
                        </div>
                    </a>
                </li>
            </div>
            {{end}}
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../assets/materialize/js/materialize.js"></script>
    <script src="../assets/notification/js/notificationPage.js"></script>
</body>

</html>