<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/materialize.min.css">
    <link rel="stylesheet" href="../assets/css/profile.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>
<body>
    <div>
        
     
        <div class="">
            <div class="header">
                <div class="row">
                    <div class="col s3 pic center-align ">
                        <img src="../images/girl.jpg" alt="" class="circle right ">
                    </div>
                    <div class="col s5 about">
                        <div class="section name grey-text darken-3">
                            <h2>user name</h2>
                        </div>
                        <div class="row status section">
                            <div class="col s2">
                                <p class="flow-text grey-text darken-3">25</p>
                            </div>
                            <div class="col s3">
                                <p class="flow-text grey-text darken-3 ">Female</p>
                            </div>
                            <div class="col s7">
                                <p class="flow-text grey-text darken-3">Addis Ababa ,Ethiopia</p>
                            </div>
                            
                            
                        </div>
                        <div class="section update">
                             <!-- Modal Trigger -->
  
          
                            <a href="#update-modal" class="btn modal-trigger waves-effect waves-red red lighten-2">Update info</a>
                           
                            <div id="update-modal" class="modal" >
                                
                                    <div class="modal-content">
                                        <div class="row">
                                            <div class="col s2">
                                                <i class="material-icons exit ">  arrow_back</i>
                                                  
                              
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col  s5  ">
                                                <div class=" profile-pic row">
                                                    <img src="../images/girl.jpg" class="circle" alt="">
                                                    <div class="file-field input-field row">
                                                        <div class="btn-flat red lighten-2 ">
                                                            <span>upload photo</span>
                                                            <input type="file">
                                                        </div>
                                                    </div>
                                                </div>
                                               
                                            </div>
                                            <div class="col s2 center-align valign-wrapper">
                                                <div class="name">
                                                    <p class="flow-text grey-text text-darken-2">
                                                        user name
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="row">
                                            <div class="col s12">
                                                <div class="divider red-text darken-1"></div>
                                            </div>
                                        </div> -->
                                        <!-- <div class="row update-user-name">
                                            <div class="col s4 offset-s4 center-align">
                                                <div class="name">
                                                    <p class="flow-text grey-text text-darken-2">
                                                        User Name
                                                    </p>
                                                </div>
                                            </div>
                                        </div> -->
                                      
                                        <div class="row">
                                            <div class="col s12">
                                                <form action="#" method="POST">
                                                    {{template "form" .}}
                                                    <!-- <div class="row">
                                                        <div class="col s5">
                                                            <div class="input-field">
                                                                <label for="fName">First Name</label>
                                                                <input type="text" id="fName">
                                                            </div>
                                                        </div>
                                                        <div class="col s5 offset-s2">
                                                            <div class="input-field">
                                                                <label for="lName">Last Name</label>
                                                                <input type="text" id="lName">
                                                            </div>
                                                        </div>
                                                       
                                                    </div>
                                                    <div class="row">
                                                        <div class="col s5">
                                                            <div class="input-field">
                                                                <label for="email">Email</label>
                                                                <input type="email" id="email">
                                                            </div>
                                                        </div>
                                                        <div class="col s5 offset-s2">
                                                            <div class="input-field">
                                                                <label for="phone">Phone</label>
                                                                <input type="text" id="phone">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col s5">
                                                            <div class="input-field">
                                                                <label for="addres">Address</label>
                                                                <input type="text" id="Address">
                                                            </div>
                                                        </div>
                                                        <div class="col s5 offset-s2">
                                                            <div class="input-field">
                                                                <label for="profession">Profession</label>
                                                                <input type="text" id="profession">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col s12">
                                                            <div class="input-field">
                                                                <label for="about2">About Me</label>
                                                                <textarea name="about2" class="materialize-textarea" id="about2" cols="30" rows="20"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="modal-footer">
                                                        <div class="row">
                                                            <div class="col s3 right">
                                                                <div class="input-field">
                                                                    <input type="submit" class="red  lighten-2 btn-flat waves-effect waves-red white-text" value="save changes">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>  -->
                                                    
                                                </form>
                                            </div>
                                           
                                        </div>
                                      
                                    </div>
                                    
                                  
                            </div>
                        </div>
                    </div>
                    <div class="col s2 right match red-text text-lighten-2">
                        <div class="match-percentage">
                            <h2>90%</h2>
                            <p class="flow-text grey-text darken-2">MATCH</p>
                        </div>
                    </div>
                 
                    
                </div>
            </div>
            
           
            <div class="row body ">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s6"><a href="#about">ABOUT</a></li>
                        <li class="tab col s6"><a href="#photos">PHOTOS</a></li>
                        <!-- <li class="tab col s4"><a href="#questions">QUESTIONS</a></li> -->
                    </ul> 
                </div>
               

                <div id="about" class="col s12 ">
                    <div class="row tab-content">
                        <!-- <div class="col s5">
                            <div class="row">
                                <div>
                                    <h5>My self-summary</h5>
                                    <div>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus et mollitia, voluptate accusantium exercitationem quod enim optio consequatur magnam recusandae laudantium ullam nostrum facilis non, molestias blanditiis sunt consequuntur corrupti.
                                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae illum aspernatur accusamus impedit optio libero, dolores voluptates consequuntur expedita repudiandae minus accusantium nobis distinctio aliquam perspiciatis illo autem ad! Alias!
                                            
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div>
                                    <h5>What i'm doing with my life</h5>
                                    <div>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, culpa nobis cum explicabo, id tenetur blanditiis voluptates corrupti vero eius beatae, natus voluptatibus ut consequatur laudantium praesentium mollitia. Velit, adipisci.
                                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident id doloribus quos amet quisquam alias, autem, mollitia, corporis nam aspernatur voluptatum et deleniti delectus facere harum? Dolorem voluptate nisi repudiandae.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div>
                                    <h5>I'm really good at</h5>
                                    <div>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis sunt asperiores delectus illo. Laudantium quae veniam quos temporibus asperiores officiis et. Fugit culpa minima quibusdam voluptates optio laudantium dolores quae!
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat sequi nisi eligendi molestiae ea, repellendus nihil necessitatibus dolor tempore beatae voluptas consectetur fuga provident quo officia unde exercitationem illo explicabo.
                                        </p>
                                    </div>
                                </div>
                
                            </div>
                        </div> -->

                        <div class="col s5 detail ">
                            <div class="detail-header">
                                <h5>My details</h5>
                            </div>
                            <div class="divider"></div>
                            <div class="row ">
                                <div class="col s4 grey-text text-darken-2">
                                    <p class="">Last online</p>
                                </div>
                                <div class="col s4">
                                    <p>Jan 15</p>
                                </div>

                            </div>
                            <div class="divider"></div>
                            <div class="row  ">
                                <div class="col s4 grey-text text-darken-2 ">
                                    <p class="">Orientation</p>
                                </div>
                                <div class="col s4">
                                    <p>Straight</p>
                                </div>
                            </div>

                            <div class="divider"></div>
                            <div class="row">
                                <div class="col s4 grey-text text-darken-2">
                                    <p>Ethnicity</p>
                                </div>
                                <div class="col s4">
                                    <p>Black</p>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div class="row">
                                <div class="col s4 grey-text text-darken-2">
                                    <p>Height</p>
                                </div>
                                <div class="col s4">
                                    <p>1.53</p>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div class="row">
                                <div class="col s4 grey-text text-darken-2">
                                    <p>Body type</p>
                                </div>
                                <div class="col s4">
                                    <p>Size zero</p>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div class="row">
                                <div class="col s4 grey-text text-darken-2">
                                    <p>Diet</p>
                                </div>
                                <div class="col s4">
                                    <p>Vegetarian</p>
                                </div>
                            </div>
                            <div class="divider"></div>
                            
                            <div class="row">
                                <div class="col s4 grey-text text-darken-2">
                                    <p>Smoke</p>
                                </div>
                                <div class="col s4">
                                    <p>No</p>
                                </div>
                            </div>
                            <div class="divider"></div>


                        </div>
                    </div>
                   
                </div>
                <div id="photos" class="col s12 gallery">
                    <div class="row">
                        <div class="col s4">
                            <img src="../images/back.jpg" alt="">
                        </div>
                        <div class="col s4">
                            <img src="../images/cover.jpg" alt="">
                        </div>
                        <div class="col s4">
                            <img src="../images/five.jpg" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4">
                            <img src="../images/gFour.jpg" alt="">
                        </div>
                        <div class="col s4">
                            <img src="../images/one.jpg" alt="">
                        </div>
                        <div class="col s4">
                            <img src="../images/three.jpg" alt="">
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
        <!-- <a href="#" class="btn" data-activates="side-out" ><i class="material-icon">Menu</i></a> -->
        
      
    </div>
    
    <script src="../assets/js/jquery-3.4.1.js"></script>
   <script src="../assets/js/profile.js"></script>
    
    <script src="../assets/js/materialize.min2.js"></script>
</body>
</html>