<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/materialize/css/materialize.css"/>
    <link href="../assets/ForgotPasscode/reset_password.css" rel="stylesheet" type="text/css">

</head>

<body>
<div class="top_bar"></div>
<div class="container">
    <div class="form">
        <form class="reset_password" action="/passwordreset" method="post">
            <h4 class="reset_password">Reset password</h4>
            <input class="new_password" style="margin-left: 20%;" placeholder="enter new password" required type="password"  name="new_password">
            <input class="new_password" style="margin-left: 20%;" placeholder="confirm new password" required type="password"  name="new_password_conf">
            <p class="error">{{.}}</p>
            <button class="waves-effect btn">CONFIRM</button>
        </form>
    </div>
</div>
</body>

</html>