{{define "user_form"}}

<div id="user_form_modal" class="modal">
            
    <div class="modal-header">
       
    </div>
    
    <div class="modal-content">
        <form action="/user/profile/addUser" id="user_form" class="form-group" method="POST">

            {{template "form" .}}

            <div class="row">
                <div class="left col ">
                    <a href="#" class="btn btn-flat modal-close waves-effect waves-red red lighten-2 modal-close">Cancel</a>
                </div>
                <div class="col s3 right">
                    
                    <a href="#questionnarie-modal"  class="btn btn-flat right  questionnarie-trigger waves-effect waves-red red lighten-2">Next</a>
                    <!-- <input type="submit" value="submit" href="#questionnarie-modal" class="btn btn-flat right  questionnarie-trigger waves-effect waves-red red lighten-2"> -->
                </div>
            </div>

    </form>
    </div>

</div>
{{end}}