<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../assets/css/materialize.css" rel="stylesheet">
    <!-- Compiled an.d minified CSS -->
    <link rel="stylesheet" href="../assets/css/materialize.min.css">
    <link rel="stylesheet" href="../assets/iconfont/material-icons.css">
    <link rel="stylesheet" href="../assets/css/chat_style.css">
    <link rel="stylesheet" href="../assets/emojionearea-master/dist/emojionearea.min.css"/>

    <title>Chating Page</title>

</head>

{{ template "navbar"}}

<dive class="container">

    <div class="row">
        <div class="col s12 m12 l3  ">
                <div class="input-field">
                    <input id="search" type="search" required>
                    <label for="search"><i class="material-icons">search</i></label>
                </div>
            <div class="profile">

                <div class="section selected-user">
                    <div class="section_left">
                        <img class="circle-responsive-img" src="../assets/images/profil.png">
                        <p>username</p>
                    </div>
                    <div class="section_right">
                        <img src="../assets/images/iconfinder_status_46254.ico"/>
                    </div>
                </div>

                <!-- <div class="divider"></div> -->

                <div class="section">
                    <div class="section_left">
                        <img class="circle-responsive-img" src="../assets/images/profil.png">
                        <p>username</p>
                    </div>
                    <div class="section_right">
                        <img src="../assets/images/iconfinder_status_46254.ico"/>
                    </div>


                </div>
                <!-- <div class="divider"></div>-->
                <div class="section">
                    <div class="section_left">
                        <img class="circle-responsive-img" src="../assets/images/profil.png">
                        <p>username</p>
                    </div>
                    <div class="section_right">
                        <img src="../assets/images/iconfinder_status_46254.ico"/>
                    </div>

                </div>

                <div class="section">


                    <div class="section_left">
                        <img class="circle-responsive-img" src="../assets/images/profil.png">
                        <p>username</p>
                    </div>
                    <div class="section_right">
                        <img src="../assets/images/iconfinder_status_46254.ico"/>
                    </div>
                </div>

                <div class="section">
                    <div class="section_left">
                        <img class="circle-responsive-img" src="../assets/images/profil.png">
                        <p>username</p>
                    </div>
                    <div class="section_right">
                        <img src="../assets/images/iconfinder_status_46254.ico"/>
                    </div>

                </div>
                <!-- <div class="divider"></div>-->
                <div class="section">
                    <div class="section_left">
                        <img class="circle-responsive-img" src="../assets/images/profil.png">
                        <p>username</p>
                    </div>
                    <div class="section_right">
                        <img src=""/>
                    </div>

                </div>

            </div>

            <!-- <div class="divider"></div> -->


        </div>

        <!---message--->

        <div class="col m12 l9  ">

            <!--<div class="chat right"></div>-->

            <div class="users">

                <div class="user1">
                    <div class="user-container">
                        <div class="user1-image">
                            <img src="../assets/images/profil.png">
                        </div>
                        <div class="chat chat_left message-container">
                            <p style="flex: 80%">Hello. How are you today? Hello. How are you today?
                                Hello. How are you today?
                            </p>

                        </div>
                    </div>
                    <p  class="user1-send-time">11:00</p>
                </div>


                <div class="user2">
                    <div class="user-container">
                        <div class="chat chat_right message-container">
                            <p style="flex:80%">Hey! I'm fine. Thanks for asking!</p>
                        </div>
                        <div  class="user2-image">
                            <img src="../assets/images/profil.png">
                        </div>
                    </div>
                    <p  class="user2-send-time">11:01</p>


                </div>
                <div class="user1">
                    <div class="user-container">
                        <div class="user1-image">
                            <img src="../assets/images/profil.png">
                        </div>
                        <div class="chat chat_left message-container">
                            <p style="flex: 80%">Hello. How are you today? Hello. How are you today?
                                Hello. How are you today?
                            </p>

                        </div>
                    </div>
                    <p  class="user1-send-time">11:00</p>
                </div>


                <div class="user2">
                    <div class="user-container">
                        <div class="chat chat_right message-container">
                            <p style="flex:80%">Hey! I'm fine. Thanks for asking!</p>
                        </div>
                        <div  class="user2-image">
                            <img src="../assets/images/profil.png">
                        </div>
                    </div>
                    <p  class="user2-send-time">11:01</p>
                </div>


            </div>
            <div class="input-field col s12 ">

                    <div>
                        <i class="material-icons prefix">mode_edit</i>
                        <!--class="materialize-textarea"-->
                        <textarea id="message_field" class="materialize-textarea" ></textarea>
                        <label for="message_field">Message</label></div>






            </div>
                <button id="submit" class=" right waves-effect waves-light btn" style="background-color: #800020; margin: 5px 2px 0px 2px">
                    <i class="material-icons right">send</i>send</button>
        </div>
    </div>
</dive>


<!-- Compiled and minified JavaScript -->
<script src="../assets/js/jquery-3.4.1.js"></script>
<script src="../assets/js/materialize.min.js"></script>

<script src="../assets/js/chatpagejs/chat_handler.js"></script>
<script src="../assets/js/chatpagejs/profile_handler.js"></script>
<script src="../assets/js/chatpagejs/Apicall.js"></script>
<script src="../assets/js/chatpagejs/socket.js"></script>
<script src="../assets/js/chatpagejs/search.js"></script>
<script src="../assets/emojionearea-master/dist/emojionearea.min.js"></script>


<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();
        var navbarFixed = $('.navbar-fixed nav');
        // $("#message_field").emojioneArea();
    });


</script>

</body>

</html>








