*{
    margin: 0;
    padding: 0;
}

.navigation{
    background-color: #800020!important;
    height: 106px;
}
nav .brand-logo {
    left: 5%;
    margin: 0.5em 0 0 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.logo{
    border-radius: 50%;
    width: 60px;
    height: 60px;}

.list-1 {

    margin: 40px 0 0 80px;   }
.centre{
    text-align: center;}

.list-2{
    margin: 0 0 0 40px; }




body  {
    background: rgb(250, 248, 248);
}
.circle-responsive-img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.profile {
    width: 100%;
    height: 70vh;
    overflow: auto;
    border: 2px solid #dedede;
    border-radius: 5px;
}
.profile::-webkit-scrollbar {
    display: none;
}
.users {
    background-color: #f1f1f1;
    border: 2px solid #dedede;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    height: 70vh;
    overflow: auto;
}
.users::-webkit-scrollbar {
    display: none;
}

.user1{
    margin: 2px;
    padding: 10px;
    width: 48%;
}
.user1 p, .user2 p{
    padding: 20px;
}
.user2{
    padding: 10px;
    width: 48%;
    margin:4px 2px 2px 50%;
}
.user1 img{
    /*width: 100%;*/
    /*border-radius: 50%;*/
}
.user2 img{
    margin-right:0;
    /*width: 100%;*/
    /*border-radius: 50%;*/
}
.input-field{
    margin-top: 20px;
    /*position: fixed;*/
}
.input-field1{
    margin-top: 20px;
    /*position:fixed;*/
}

.section{
    display: flex;
    margin:5px;
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 5px;
}
.section_left{
    flex: 80%;
    padding: 5px;
}
.section_right{
    flex: 20%;
    align-self: center;
}

.chat {
    width: 50%;
    /*height: 75px;*/
    margin: 1em auto;
    border-radius: 12px;
    /*background: darkseagreen;*/

    position: relative;
}
.chat_left {
    background-color: #ddd;
    border-bottom-left-radius: 0;
}
.chat_right {
    background-color: #ddd;
    border-bottom-right-radius: 0;
}
.chat::after {
    content: '';
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    bottom: 0;
}
.chat_left::after {
    left: 0;
    transform: translateX(-95%);
    background: radial-gradient(circle at 0 0, transparent, transparent 72%, #ddd 72%);
}
.chat_right::after {
    right: 0;
    transform: translateX(100%);
    background: radial-gradient(circle at 100% 0, transparent, transparent 72%, #ddd 72%);
}


.user1-image{
    flex: 10%;
    align-self: flex-end;
    margin-right: 10px;
    margin-bottom: 15px
}
.user1-send-time{
    margin: 0!important;
    padding: 0!important;
    text-align: right;
    color:#c2c2c2
}
.user2-image{
    flex:10%;

    align-self: flex-end;
    margin-bottom: 15px;
    margin-left: 10px;
}
.user2-send-time{
    text-align: left;
    margin:0 !important;
    padding: 0 !important;
    color:#c2c2c2
}

.message-container{
    flex:90%;
    display: flex;
    flex-wrap: wrap
}
.user-container{
    display: flex;
}
/*.selected-user{*/
/*    background-color: #ececec;*/
/*}*/

.send::after{
    constent:"send";
}