body{
    margin: 0;
    padding: 0;
    align-content: center;
    align-items: center;
    align-self: center;
}
.top_bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #7BA0EA;
    z-index: -1;
}

.container {
    background-color: #FFFFFF;
    max-width: 40%;
    min-height: 70%; !important;
    position: center;
    margin: auto;
    margin-top: 10%;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.25),0 2px 2px rgba(0,0,0,0.22);
    text-align: center;
}

.form{
    height: 400px;
    position: center;
    margin: auto;
    top: 0;
    overflow: visible;
}

.reset_password{
    font-family: sans-serif, cursive;
    color: #566873;
    font-weight: 700;
    text-align: center;
    display: block;
    font-size: 30px;
    padding-top: 20px;
    border: 4px #0a1e43;  !important;
}

.resetform{
    position: center;
    padding-top: 30px;
    height: 400px;
}

.new_password {
    position: center;
    max-width: 60%;
    display: block;
    height: 25px;
}
.btn{
    width: 50%;
    background-color: #5688F0;
    border-radius: 3px;
}
.btn:active{
    background-color: #4f7ff0;
}
.btn:hover{
    background-color: #5688F0;
}

input::placeholder{
    font-family: sans-serif, cursive;
    font-size: 15px;
    font-weight: 500;
    color: #626165;
}

.error{
    font-family: sans-serif, cursive;
    color: darkred;
    font-size: 14px;
}