<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/questionnaries.css">
    <link rel="stylesheet" href="../materialize/css/materialize.min.css">
    
    
</head>
<body>
    <script src="../js/jquery.js"></script>
    <div class="row">
        <div class="modal" id="modal1">
            <div class="modal-content">
                   
                    
                    
                <div class="row header">
                        <i class="arrow fa fa-arrow-left col s1 left red-text text-lighten-2 fa-2x "></i>
                        <div class="  col s2    offset-s4">
                                <p class="red circle z-depth-2 lighten-2 white-text center-align">1/15</p>
                        </div>
                       
                        <i class="arrow fa fa-arrow-right col s1  right right-align red-text text-lighten-2 fa-2x"></i>
                </div>
                <div class="row">
                    <p class="col s5 question  flow-text">
                        What is your martial status ?
                    </p>
                    <p class="col s5 flow-text offset-s2 question">
                            your partner martial status should be?  
                    </p>
                </div>
                <div class="row ">
                        <div class="choice col s5 personal ">
                                <a href="#!" class="btn red lighten-2 waves-effect waves-red" >I have never been married</a>
                                <a href="#!" class="btn red lighten-2 waves-effect waves-red " >I am devorced</a>
                                <a href="#!" class="btn red lighten-2 waves-effect waves-red" >i am separate</a>
                                <a href="#!" class="btn red lighten-2 waves-effect waves-red" >i am a widower</a>
                        </div>
                        <div class="vertical col s1 offset-s1 "></div>
                        <div class="choice col s5 partner">
                                <a href="#!" class="btn red lighten-2 waves-effect waves-red" >Never married</a>
                                <a href="#!" class="btn red lighten-2 waves-effect waves-red ">devorced</a>
                                <a href="#!" class="btn red lighten-2 waves-effect waves-red" >separated</a>
                                <a href="#!" class="btn red lighten-2 waves-effect waves-red">widower</a>
                        </div>
                                
               
                 </div>

            <div class="modal-footer">
                <a href="3" class="btn btn-flat red waves-effect waves-red lighten-2 left white-text">SKip</a>
                <a href="" class="btn btn-flat red waves-effect waves-red modalC lighten-2 white-text">Next</a>
            </div>
        </div>
    </div>
    
    <script src="../js/questionnaries.js"></script>
    <script src="../materialize/js/materialize.min2.js"></script>
</body>
</html>